{% extends 'base.html.twig' %}
{% block title %}Réinitialisation password{% endblock %}

{% block body %}
    <div class="login full-border col-11 col-sm-5 center">
    <form method="post">

        <h1 class="">Réinitialisation du mot de passe</h1>
        <div class="form-group col-10">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{token}">
        </div>
        <button class="button col-10 col-sm-5" type="submit">
            Modifier
        </button>
    </form>
    </div>
{% endblock %}