/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
/* line 5, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.scss */
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Libre Baskerville', serif;
}

/* line 12, ../sass/_base.scss */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1 0 auto;
}

/*
DEBUT DU HEADER
*/
/* line 22, ../sass/_base.scss */
header {
  flex-grow: 1;
}

/* line 25, ../sass/_base.scss */
.decoration {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
/* line 29, ../sass/_base.scss */
.decoration .bandes {
  margin-bottom: 2%;
}
/* line 33, ../sass/_base.scss */
.decoration .top.col-11 {
  margin-top: 50px !important;
}
/* line 37, ../sass/_base.scss */
.decoration nav {
  font-size: 1.5rem;
  position: absolute;
  top: 25px;
  right: 10%;
}
/* line 42, ../sass/_base.scss */
.decoration nav a {
  text-decoration: none;
  color: #B09D3F;
  opacity: .5;
}
/* line 46, ../sass/_base.scss */
.decoration nav a:hover {
  opacity: 1;
}
/* line 50, ../sass/_base.scss */
.decoration nav.coll-11 {
  position: relative;
}

/* line 55, ../sass/_base.scss */
.back {
  position: absolute;
  top: 25px;
}
/* line 58, ../sass/_base.scss */
.back :hover {
  cursor: pointer;
}
/* line 60, ../sass/_base.scss */
.back :hover a {
  width: 100%;
}
/* line 62, ../sass/_base.scss */
.back :hover a button {
  width: 100%;
}

/*
DEBUT DU MENU
*/
/* line 71, ../sass/_base.scss */
.menu {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 20px;
}
/* line 76, ../sass/_base.scss */
.menu a {
  color: #B09D3F;
  text-decoration: none;
  margin: 10px;
  opacity: .5;
}
/* line 81, ../sass/_base.scss */
.menu a:hover {
  opacity: 1;
}
/* line 85, ../sass/_base.scss */
.menu .left {
  position: absolute;
  left: 0;
}
/* line 89, ../sass/_base.scss */
.menu .right {
  position: absolute;
  right: 0;
}
/* line 93, ../sass/_base.scss */
.menu .play {
  top: 15px;
}
/* line 95, ../sass/_base.scss */
.menu .play a {
  color: #B0A73F;
  opacity: 1;
}

/*
FIN DU HEADER
*/
/*
DEBUT DU FOOTER
*/
/* line 108, ../sass/_base.scss */
footer {
  flex-grow: 0;
}

/* line 112, ../sass/_base.scss */
.socials {
  margin: 15px auto;
  text-align: center;
}
/* line 115, ../sass/_base.scss */
.socials a {
  margin: 0 20px;
}
/* line 117, ../sass/_base.scss */
.socials a img {
  max-width: 50px;
  width: 100%;
}

/* line 123, ../sass/_base.scss */
.link {
  margin: 0 auto;
  text-align: center;
}
/* line 126, ../sass/_base.scss */
.link p {
  display: inline-block;
  margin: 20px;
  color: #B09D3F;
}

/* line 132, ../sass/_base.scss */
.fixed-bot {
  position: fixed;
  bottom: 0;
}

/*
FIN DU FOOTER
*/
/*
DEBUT DU BODY
*/
/* line 143, ../sass/_base.scss */
body {
  background-color: #000;
  color: #B0A73F;
  height: 100%;
}

/* line 148, ../sass/_base.scss */
.center {
  margin: 0 auto;
}

/* line 151, ../sass/_base.scss */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 5% 0;
}

/* line 157, ../sass/_base.scss */
.register input {
  font-size: 2rem;
  background: transparent;
  color: #B0A73F;
  border: none;
  border-bottom: 1px solid #B0A73F;
  text-align: center;
  width: auto;
  margin-top: 10px;
}
/* line 166, ../sass/_base.scss */
.register input ::placeholder {
  color: #5F5C3A;
  text-transform: uppercase;
}
/* line 171, ../sass/_base.scss */
.register div label {
  display: none;
}

/* line 175, ../sass/_base.scss */
.form-border {
  border: 1px solid #B0A73F;
  margin: 35px auto;
  text-align: center;
}
/* line 179, ../sass/_base.scss */
.form-border .button {
  font-size: 2rem;
  margin: 15px auto;
}

/* line 184, ../sass/_base.scss */
.form-group {
  margin: 20px auto;
}
/* line 186, ../sass/_base.scss */
.form-group input {
  background: transparent;
  border: 1px solid #B0A73F;
  text-transform: lowercase;
  font-size: 1.5rem;
  text-align: center;
}
/* line 193, ../sass/_base.scss */
.form-group input::placeholder {
  color: #5F5C3A;
  text-transform: uppercase;
}

/* line 198, ../sass/_base.scss */
.button {
  background-color: #B09D3F;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
}

/* line 205, ../sass/_base.scss */
.alert-danger {
  text-align: center;
  background-color: #000;
  color: #5F5C3A;
}
/* line 209, ../sass/_base.scss */
.alert-danger.alert {
  border: none;
  margin-bottom: -2rem;
}

/* line 215, ../sass/_base.scss */
.login .fpsswrd {
  margin-bottom: 10px;
}
/* line 216, ../sass/_base.scss */
.login .fpsswrd a {
  text-decoration: none;
  color: #B09D3F;
}

/*
@media (max-width: 600px) {
  .menu{
    .decoration{
      nav{
        display: none;
      }
      .back{
        display: none;
      }
    }
  }
}*/
/* line 1, ../sass/_admin.scss */
.admin {
  margin: 0 auto;
}
/* line 3, ../sass/_admin.scss */
.admin header {
  height: 200px;
  display: block;
  position: relative;
}
/* line 7, ../sass/_admin.scss */
.admin header .logo {
  position: absolute;
  top: 25px;
  left: 15px;
}
/* line 12, ../sass/_admin.scss */
.admin header .top-nav {
  font-size: 1.5rem;
  position: absolute;
  top: 70px;
  right: 25px;
  text-align: right;
  z-index: 1000;
}
/* line 19, ../sass/_admin.scss */
.admin header .top-nav a {
  text-decoration: none;
  color: #B09D3F;
  opacity: .5;
}
/* line 23, ../sass/_admin.scss */
.admin header .top-nav a:hover {
  opacity: 1;
}
/* line 29, ../sass/_admin.scss */
.admin .side-bar {
  position: absolute;
  top: 200px;
  text-align: center;
}
/* line 33, ../sass/_admin.scss */
.admin .side-bar a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  margin: 50px 0;
}
/* line 41, ../sass/_admin.scss */
.admin .body {
  position: absolute;
  top: 50px;
  right: 0;
  padding-bottom: 50px;
}
/* line 46, ../sass/_admin.scss */
.admin .body h2 {
  font-size: 2.3rem;
  margin-top: -20px;
}
/* line 50, ../sass/_admin.scss */
.admin .body .table td, .admin .body .table th, .admin .body .table thead th {
  border-color: #403515;
}
/* line 53, ../sass/_admin.scss */
.admin .body a {
  color: #eeea70;
  opacity: .5;
}
/* line 56, ../sass/_admin.scss */
.admin .body a:hover {
  opacity: 1;
}
