/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
/* line 5, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.scss */
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: 'Libre Baskerville', serif;
}

/* line 12, ../sass/_base.scss */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1 0 auto;
}

/* line 18, ../sass/_base.scss */
.inline-block {
  display: inline-block;
}

/* line 21, ../sass/_base.scss */
.align-center {
  text-align: center;
}

/*
DEBUT DU HEADER
 */
/* line 27, ../sass/_base.scss */
.flex-grow {
  flex-grow: 1;
}

/* line 30, ../sass/_base.scss */
.decoration {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
/* line 34, ../sass/_base.scss */
.decoration .bandes {
  margin-bottom: 2%;
}
/* line 38, ../sass/_base.scss */
.decoration .top.col-11 {
  margin-top: 50px !important;
}
/* line 42, ../sass/_base.scss */
.decoration .absolute-right {
  font-size: 1.5rem;
  position: absolute;
  top: 50px;
  right: 5%;
}
/* line 47, ../sass/_base.scss */
.decoration .absolute-right a {
  text-decoration: none;
  color: #B09D3F;
  opacity: .5;
}
/* line 51, ../sass/_base.scss */
.decoration .absolute-right a:hover {
  opacity: 1;
}
/* line 55, ../sass/_base.scss */
.decoration .absolute-right.coll-11 {
  position: relative;
}

/* line 60, ../sass/_base.scss */
.back {
  position: absolute;
  top: 25px;
}
/* line 63, ../sass/_base.scss */
.back :hover {
  cursor: pointer;
}
/* line 65, ../sass/_base.scss */
.back :hover a {
  width: 100%;
}
/* line 67, ../sass/_base.scss */
.back :hover a button {
  width: 100%;
}

/*
DEBUT DU MENU
 */
/* line 76, ../sass/_base.scss */
.menu {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 20px;
}
/* line 81, ../sass/_base.scss */
.menu a {
  color: #B09D3F;
  text-decoration: none;
  margin: 10px;
  opacity: .5;
}
/* line 86, ../sass/_base.scss */
.menu a:hover {
  opacity: 1;
}
/* line 90, ../sass/_base.scss */
.menu .left {
  position: absolute;
  left: 0;
}
/* line 94, ../sass/_base.scss */
.menu .right {
  position: absolute;
  right: 0;
}
/* line 98, ../sass/_base.scss */
.menu .play {
  top: 15px;
}
/* line 100, ../sass/_base.scss */
.menu .play a {
  color: #B0A73F;
  opacity: 1;
}

/*
FIN DU HEADER
 */
/*
DEBUT DU FOOTER
 */
/* line 113, ../sass/_base.scss */
footer {
  flex-grow: 0;
}

/* line 116, ../sass/_base.scss */
.socials {
  margin: 15px auto;
  text-align: center;
}
/* line 119, ../sass/_base.scss */
.socials a {
  margin: 0 20px;
}
/* line 121, ../sass/_base.scss */
.socials a img {
  max-width: 50px;
  width: 100%;
}

/* line 127, ../sass/_base.scss */
.link {
  margin: 0 auto;
  text-align: center;
}
/* line 130, ../sass/_base.scss */
.link p {
  display: inline-block;
  margin: 20px;
  color: #B09D3F;
}

/* line 136, ../sass/_base.scss */
.fixed-bot {
  position: fixed;
  bottom: 0;
}

/*
FIN DU FOOTER
 */
/*
DEBUT DU BODY
 */
/* line 147, ../sass/_base.scss */
body {
  background-color: #000;
  color: #B0A73F;
  height: 100%;
  flex-grow: .1;
}

/* line 153, ../sass/_base.scss */
.center {
  margin: 0 auto;
}

/* line 156, ../sass/_base.scss */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 5% 0;
  width: auto;
}

/*
HOME
 */
/* line 166, ../sass/_base.scss */
.home img {
  width: 100%;
  margin: 30px 0;
}

/*
REGISTER
 */
/* line 175, ../sass/_base.scss */
.register input {
  font-size: 2rem;
  background: transparent;
  color: #B0A73F;
  border: none;
  border-bottom: 1px solid #B0A73F;
  text-align: center;
  width: auto;
  margin-top: 10px;
}
/* line 184, ../sass/_base.scss */
.register input ::placeholder {
  color: #5F5C3A;
  text-transform: uppercase;
}
/* line 189, ../sass/_base.scss */
.register div label {
  display: none;
}

/* line 193, ../sass/_base.scss */
.full-border {
  border: 1px solid #B0A73F;
  margin: 35px auto;
  text-align: center;
}
/* line 197, ../sass/_base.scss */
.full-border .button {
  font-size: 2rem;
  margin: 15px auto;
}

/* line 202, ../sass/_base.scss */
.form-group {
  margin: 20px auto;
}
/* line 204, ../sass/_base.scss */
.form-group input {
  background: transparent;
  border: 1px solid #B0A73F;
  text-transform: lowercase;
  font-size: 1.5rem;
  text-align: center;
}
/* line 211, ../sass/_base.scss */
.form-group input::placeholder {
  color: #5F5C3A;
  text-transform: uppercase;
}

/* line 216, ../sass/_base.scss */
.button {
  background-color: #B09D3F;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
}

/* line 223, ../sass/_base.scss */
.alert-danger {
  text-align: center;
  background-color: #000;
  color: #5F5C3A;
}
/* line 227, ../sass/_base.scss */
.alert-danger.alert {
  border: none;
  margin-bottom: -2rem;
}

/*
LOGIN
 */
/* line 236, ../sass/_base.scss */
.login .fpsswrd {
  margin-bottom: 10px;
}
/* line 237, ../sass/_base.scss */
.login .fpsswrd a {
  text-decoration: none;
  color: #B09D3F;
}

/*
STORY
 */
/* line 248, ../sass/_base.scss */
.story p {
  text-align: justify;
  vertical-align: text-top;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
/* line 254, ../sass/_base.scss */
.story .button {
  margin: 5% auto;
  padding: 10px;
}

/*
TOURNAMENT
 */
/* line 262, ../sass/_base.scss */
.tournament {
  margin-top: -50px;
  margin-bottom: 50px;
}
/* line 265, ../sass/_base.scss */
.tournament .full-border {
  position: relative;
  display: inline-block;
}
/* line 268, ../sass/_base.scss */
.tournament .full-border img {
  max-width: 100%;
}
/* line 271, ../sass/_base.scss */
.tournament .full-border span {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  text-transform: uppercase;
}
/* line 278, ../sass/_base.scss */
.tournament .full-border span p {
  padding-top: 30%;
  font-size: 3rem;
  font-weight: bold;
}
/* line 282, ../sass/_base.scss */
.tournament .full-border span p a {
  color: white;
  opacity: .8;
}
/* line 285, ../sass/_base.scss */
.tournament .full-border span p a:hover {
  text-decoration: none;
  opacity: 1;
}
/* line 292, ../sass/_base.scss */
.tournament .full-border.right-offset {
  margin-right: 8.33333333%;
}

/*
CLASSIC
 */
/* line 301, ../sass/_base.scss */
.classic .round {
  width: 33%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}
/* line 307, ../sass/_base.scss */
.classic .round .full-border {
  margin: 10px 0;
}
/* line 310, ../sass/_base.scss */
.classic .round.fork:before {
  content: '';
  display: block;
  border: solid #B0A73F 2px;
  border-left: 0;
  position: absolute;
  right: 10%;
  top: 67px;
  width: 10%;
  height: 146px;
}
/* line 321, ../sass/_base.scss */
.classic .round.line:before, .classic .round.not:before {
  content: '';
  height: 15px;
  width: 15px;
  background-color: #B0A73F;
  position: absolute;
  border-radius: 15px;
  left: -8px;
  top: 134px;
}
/* line 331, ../sass/_base.scss */
.classic .round:not(.not):after {
  content: '';
  background-color: #B0A73F;
  height: 2px;
  display: block;
  position: absolute;
  width: 10%;
  right: 0;
  top: 140px;
}
/* line 341, ../sass/_base.scss */
.classic .round:not(.fork):after {
  width: 20%;
}
/* line 344, ../sass/_base.scss */
.classic .round .points {
  height: 15px;
  width: 15px;
  background-color: #B0A73F;
  position: absolute;
  border-radius: 15px;
}
/* line 351, ../sass/_base.scss */
.classic .round .point {
  top: 60px;
  right: 18%;
}
/* line 355, ../sass/_base.scss */
.classic .round .point1 {
  top: 205px;
  right: 18%;
}
/* line 359, ../sass/_base.scss */
.classic .round.line .point {
  top: 134px;
}
/* line 362, ../sass/_base.scss */
.classic .round .mrb {
  margin-bottom: 30px;
}
/* line 365, ../sass/_base.scss */
.classic .round .match, .classic .round .winner {
  vertical-align: center;
}
/* line 367, ../sass/_base.scss */
.classic .round .match .player, .classic .round .winner .player {
  width: 80%;
}
/* line 370, ../sass/_base.scss */
.classic .round .match .player-inner, .classic .round .winner .player-inner {
  width: 95%;
  padding: 10px 0;
  margin: 10px auto;
}
/* line 375, ../sass/_base.scss */
.classic .round .match .inner-b, .classic .round .winner .inner-b {
  border-left: 4px #B0A73F solid;
}
/* line 379, ../sass/_base.scss */
.classic .round.line .match {
  margin-top: 84px;
}
/* line 382, ../sass/_base.scss */
.classic .round .winner {
  margin-top: 115px;
}

/*
RULES
 */
/* line 390, ../sass/_base.scss */
.rules {
  margin-bottom: 50px;
}
/* line 392, ../sass/_base.scss */
.rules iframe {
  width: 100%;
  height: auto;
  min-height: 400px;
}

/*
LADER
 */
/* line 401, ../sass/_base.scss */
.lader {
  margin-bottom: 20px;
}
/* line 403, ../sass/_base.scss */
.lader table {
  position: relative;
}
/* line 405, ../sass/_base.scss */
.lader table .bordered {
  border-top: 1px solid #B0A73F;
  border-bottom: 1px solid #B0A73F;
  background-color: black;
  z-index: 500;
}
/* line 411, ../sass/_base.scss */
.lader table td {
  padding: 10px;
  color: white;
  font-size: 1.5rem;
}
/* line 416, ../sass/_base.scss */
.lader table .text-right {
  text-align: right;
}

/*
CREATE GAME
 */
/* line 424, ../sass/_base.scss */
.crea-p {
  margin-bottom: 50px;
}
/* line 427, ../sass/_base.scss */
.crea-p form label {
  display: none;
}
/* line 430, ../sass/_base.scss */
.crea-p form select {
  color: white;
  background-color: black;
  width: 100%;
  padding: 15px 0;
  font-size: 1.5rem;
}
/* line 437, ../sass/_base.scss */
.crea-p form .button {
  font-size: 2.5rem;
  padding: 10px;
}
/* line 441, ../sass/_base.scss */
.crea-p form .vs {
  font-size: 3em;
  color: white;
}

/*
MY GAMES
 */
/* line 451, ../sass/_base.scss */
.mes-p h2 {
  border-bottom: 1px solid #B0A73F;
  width: auto;
  font-size: 2rem;
  color: white;
  margin-bottom: 30px;
}
/* line 458, ../sass/_base.scss */
.mes-p div {
  vertical-align: top;
}
/* line 461, ../sass/_base.scss */
.mes-p a {
  width: 50%;
}
/* line 463, ../sass/_base.scss */
.mes-p a img {
  width: inherit;
}
/* line 467, ../sass/_base.scss */
.mes-p li {
  font-size: 1.5rem;
  color: white;
  line-height: 1.5rem;
  text-align: left;
  padding-left: 20px;
  position: relative;
}
/* line 474, ../sass/_base.scss */
.mes-p li img {
  height: 2.8rem;
  position: absolute;
  left: -10px;
  top: -6px;
}

/*
@media (max-width: 600px) {
  .menu{
    .decoration{
      nav{
        display: none;
      }
      .back{
        display: none;
      }
    }
  }
}*/
/* line 1, ../sass/_admin.scss */
.admin {
  margin: 0 auto;
}
/* line 3, ../sass/_admin.scss */
.admin header {
  height: 200px;
  display: block;
  position: relative;
}
/* line 7, ../sass/_admin.scss */
.admin header .logo {
  position: absolute;
  top: 25px;
  left: 15px;
}
/* line 12, ../sass/_admin.scss */
.admin header .top-nav {
  font-size: 1.5rem;
  position: absolute;
  top: 70px;
  right: 25px;
  text-align: right;
  z-index: 1000;
}
/* line 19, ../sass/_admin.scss */
.admin header .top-nav a {
  text-decoration: none;
  color: #B09D3F;
  opacity: .5;
}
/* line 23, ../sass/_admin.scss */
.admin header .top-nav a:hover {
  opacity: 1;
}
/* line 29, ../sass/_admin.scss */
.admin .side-bar {
  position: absolute;
  top: 200px;
  text-align: center;
}
/* line 33, ../sass/_admin.scss */
.admin .side-bar a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  margin: 50px 0;
}
/* line 41, ../sass/_admin.scss */
.admin .body {
  position: absolute;
  top: 50px;
  right: 0;
  padding-bottom: 50px;
}
/* line 46, ../sass/_admin.scss */
.admin .body h2 {
  font-size: 2.3rem;
  margin-top: -20px;
}
/* line 50, ../sass/_admin.scss */
.admin .body .table td, .admin .body .table th, .admin .body .table thead th {
  border-color: #403515;
}
/* line 53, ../sass/_admin.scss */
.admin .body a {
  color: #eeea70;
  opacity: .5;
}
/* line 56, ../sass/_admin.scss */
.admin .body a:hover {
  opacity: 1;
}
