{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Edit Jeton{% endblock %}

{% block body %}
    <h1>Editer le Jeton</h1>

    {{ include('jeton/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jeton_index') }}">Retour</a>

    {{ include('jeton/_delete_form.html.twig') }}
{% endblock %}
