
{% extends 'base.html.twig' %}

{% block body %}
    <div class="crea-p col-11 center align-center">
        <h1>Création de la partie</h1>
        <form action="{{ path('partie_creer') }}" method="post">
            <div class="col-11 col-sm-3 center inline-block">
                <h1>{{ app.user.username }}</h1>
            </div>
            <p class="vs col-11 col-sm-2 center inline-block">VS</p>
            <div class="col-11 col-sm-3 center inline-block">
                <label>Joueur 2</label>
                <select name="player2" class="full-border">
                    {% for joueur in joueurs %}
                    <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input class="button" type="submit" value="Créer Partie">
            </div>
        </form>
    </div>
{% endblock %}

{% block title %}

{% endblock %}