{% extends 'base.html.twig' %}

{% block title %}Tournois : Chicago 1930{% endblock %}

{% block body %}
<div class="tournament col-12 align-center center">
    <h1>Tournois</h1>
    <div class="col-12">
        <div class="col-11 col-md-4 right-offset full-border">
            <img src="{{ asset('img/halloween.jpg') }}" alt="">
            <span class="white"><p><a href="#">Halloween</a></p></span>
        </div>
        <div class="col-11 col-sm-4 full-border">
            <img src="{{ asset('img/t2.png') }}" alt="">
            <span class="white"><p><a href="classic">Classique</a></p></span>
        </div>
    </div>
</div>

{% endblock %}
