{% extends 'base.html.twig' %}

{% block title %}Classement : Chicago 1930{% endblock %}

{% block body %}
<div class="lader col-12 col-sm-6 align-center center">
    <h1>Classement</h1>
    <div class="col-11 center">
        <div class="liste col-12">
            <table class="col-12">
                <thead class="bordered center">
                    <td class="col-2">#</td>
                    <td class="col-6">Pseudo</td>
                    <td class="col-2 text-right">Victoires</td>
                    <td class="col-2 text-right">Score</td>
                </thead>
                <tbody>
                {% set c = 1 %}
                {%  for joueur in joueurs %}
                    <tr>
                        <td class="col-2">{{ c }}</td>
                        <td class="col-6">{{ joueur.username }}</td>
                        <td class="col-2 text-right">{{ joueur.nbVictoires }}</td>
                        <td class="col-2 text-right">{{ joueur.elo }}</td>
                    </tr>
                    {% set c = c + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
