{% extends 'base.html.twig' %}

{% block title %}Règles : Chicago 1930{% endblock %}

{% block body %}
<div class="rules col-12 col-ms-10 col-md-8 col-xl-6 center align-center">
    <h1>Les règles du jeu</h1>
    <iframe src="https://www.youtube.com/embed/f6alOLhBRdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
{% block classFooter %}
class="col-12"
{% endblock %}