{% extends 'base.html.twig' %}

{% block title %}Histoire : Chicago 1930{% endblock %}

{% block body %}
    <div class="story col-12 col-sm-6 align-center center">
        <h1>Notre histoire</h1>
        <p class="col-5 inline-block">Les années 30, Chicago - Don Alvaro, parrain de la mafia locale décède au cours d'une fusillade. Suite à ce tragique évenement, des tensions éclatent au sein de la pègre.</p>
        <p class="col-5 inline-block">Qui deviendra le nouveau dirigeant? L'organisation se sépare en deux groupes rivaux. Votre objectif en tant que chef de groupe ? Devenir le plus riche!</p>
        <div class="col-12">
            <button class="button">En savoir plus</button>
        </div>
    </div>
{% endblock %}

