{% extends 'base.html.twig' %}

{% block title %}New Carte{% endblock %}

{% block body %}
    <h1>Créer une Carte</h1>

    {{ include('carte/_form.html.twig') }}

    <a href="{{ path('carte_index') }}">Retour</a>
{% endblock %}
